name: Apply Repolinter to OSS project
on:
  issues:
    types:
      - opened

jobs:
  find-repo-to-act-on:
    outputs:
      REPO: ${{ steps.find-repo.outputs.REPO }}
    # Temporary filter for testing to only zkoppert issues
    if: >-
      github.event.issue.user.login == 'zkoppert'
    runs-on: ubuntu-latest
    steps:
      # TODO: find repository from the issue instead of hardcode
    - id: find-repo
      run: |
        echo "::set-output name=REPO::${{ github.event.issue.title }}"

  apply-repolinter:
    # Temporary filter for testing to only zkoppert issues
    if: >-
      github.event.issue.user.login == 'zkoppert'
    needs: find-repo-to-act-on
    runs-on: ubuntu-latest
    steps:
      - name: Checkout open-source-releases repo
        uses: actions/checkout@v2
      - name: Checkout target repo
        uses: actions/checkout@v2
        with:
          repository: ${{ needs.find-repo-to-act-on.outputs.REPO }}
      - name: Run Repolinter
        uses: todogroup/repolinter-action@v1
        with:
          repository: ${{ needs.find-repo-to-act-on.outputs.REPO }}
          username: zkoppert
          token: ${{ secrets.MY_TOKEN }}
          # TODO: Configure remote ruleset to customize repo linting checks per https://github.com/github/ospo-in-a-box/issues/29
          config_url: 'https://raw.githubusercontent.com/super-linter/open-source-releases/main/repolinter-ruleset.json'
  
  report-results:
    # Temporary filter for testing to only zkoppert issues
    if: >-
      github.event.issue.user.login == 'zkoppert'
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      ISSUE: ${{ github.event.issue.html_url }}
    needs: apply-repolinter
    runs-on: ubuntu-latest
    steps:
      - name: comment on issue with results
        # TODO: Put results from repo linter into this issue comment
        run: |
          gh issue comment $ISSUE --body "TODO: REPO LINTER RESULTS GO HERE"
