name: Apply Repolinter to OSS project
on:
  issues:
    types:
      - opened

jobs:
  find-repo-to-act-on:
    outputs:
      REPO: ${{ steps.find-repo.outputs.REPO }}
    runs-on: ubuntu-latest
    steps:
      # TODO: find repository from the issue instead of hardcode
    - id: find-repo
      run: |
        echo "::set-output name=REPO::$( echo ${{ github.event.issue.title }} | sed 's/.*Open Source:.*github.com\///g' )"

  apply-repolinter:
    outputs:
      PASSED: ${{ steps.run-repolinter.outputs.passed }}
      ERRORED: ${{ steps.run-repolinter.outputs.errored }}
      JSON_OUTPUT: ${{ steps.run-repolinter.outputs.json_output }}
    needs: find-repo-to-act-on
    runs-on: ubuntu-latest
    steps:
      - name: Checkout open-source-releases repo
        uses: actions/checkout@v2
      - name: Checkout target repo
        uses: actions/checkout@v2
        with:
          repository: ${{ needs.find-repo-to-act-on.outputs.REPO }}
      - name: Run Repolinter
        id: run-repolinter
        uses: todogroup/repolinter-action@v1
        with:
          config_url: 'https://raw.githubusercontent.com/super-linter/open-source-releases/main/repolinter-ruleset.json'
  
  report-results:
    env:
      ISSUE: ${{ github.event.issue.html_url }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    needs: apply-repolinter
    runs-on: ubuntu-latest
    steps:
      - name: comment on issue with results
        # TODO: Put results from repo linter into this issue comment
        run: |
          # echo '${{ needs.apply-repolinter.outputs.JSON_OUTPUT }}' | jq '{pass: .passed, license: .results[0].lintResult.targets[0].message, README: .results[1].lintResult.targets[0].message, CODEOWNERS: .results[2].lintResult.targets[0].message}' > output.json;
          echo '${{ needs.apply-repolinter.outputs.JSON_OUTPUT }}' | jq -r '(["Policy |", "Status |", "Message"]), (.results[] | [.ruleInfo.name + " |", .status + " |", .lintResult.message]) | @tsv' > output.json;
          gh issue comment $ISSUE --body-file output.json
